{% extends "base.html" %}
{% block content %}
    <h2>Hydrobase</h2>
    <br>
    <form action="" method="post" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        <p>{{ form.username(placeholder="Username") }}</p>
        <p>{{ form.password(placeholder="Password") }}</p>
        <div>
            <p>
                {{ form.remember_me }} Remember Me ·
                <a role="button" href="">Forgot password?</a>
            </p>
            <input class="btn btn-default" type="submit" value="Log in">
         </div>
    </form>
    {% if error %}
        <p class="error">{{ error }}
    {% endif %}
{% endblock %}
