{% extends "base.html" %}
{% block nav %}
	{{super()}}
	<div class="row">
		  <div class="col-sm-3">
		    <div class="sidebar-nav">
		      <div class="navbar navbar-default" role="navigation">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <span class="visible-xs navbar-brand">Sidebar menu</span>
		        </div>
		        <div class="navbar-collapse collapse sidebar-navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="/dashboard">Dashboard</a></li>
		            <li><a href="/devices">Devices</a></li>
		            <li><a href="/grows">Grows</a></li>
		            <li><a href="/logout">Logout</a></li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </div>
		  </div>
	</div>
{% endblock %}
<% block content %>
<% endblock %>
